@import "../universal.scss";

html, body {
    @include mp(0, 0);
}

.word-form-container {
    @include flex;
    width: 100vw;
    height: 100vh;
}

#word-form {
    @include flex;
    @include border(4px, solid, black, 8px);
    @include back_text(antiquewhite, black, 1.1em, bold, Arial);
}

#word-guesser {
    font-size: 1.5em;
}

#guess-enter {
    @include mp(0 0 0.8em 0, 0.2em);

    font-size: 2em;
}

#original-word {
    display: none !important;
}

#submit {
    @include back_text(darkblue, white, 2em, normal, Arial);

    @include mp(0.7em 0 1.5em 0, 0.4em);

    @include border(3px, solid, black, 8px);

    box-shadow: 0 0.7em grey;

    transform: none;

    transition: all 0.3s;

    &:hover {
        cursor: pointer;
    }

    &:active {
        cursor: pointer;
        transform: translate(0, 0.4em);
        box-shadow: 0 0.3em rgb(100, 100, 100);
    }
}